:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

.about-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}

.about-container h1 {
  font-size: 4vw;
  color: #333;
}

.about-container p {
  color: #555;
  max-width: 50rem;
}

.about-container h2 {
  color: #555;
  margin-top: 10px;
}

.about-container ul {
  list-style-type: none;
  padding: 0;
  color: #777;
}

.about-container li {
  margin-bottom: 8px;
}
